:root {
    --primaryColor: #f0f0f0;
    --secondaryColor: #ffffff;
    --primaryAccent: #008080;
    --secondayAccent: #ff7f50;
    --fontColor: #000000;
    --buttonColor: #333333;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
    margin: 0;
    background-color: var(--primaryColor);
    color: var(--fontColor);
}

h1 {
    width: 100%; 
    text-align: center; 
    margin: 0; 
    padding: 20px 0; 
    border-bottom: 2px solid var(--primaryAccent);
    margin-bottom: 30px;
    background-color: var(--secondaryColor);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}

.gameBody {
    font-size: 4rem;
    width: 60%; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem; 
    margin-top: 20px;
    padding: 20px; 
    background-color: var(--secondaryColor);
}

.left, .right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    /* background-color: var(--primaryAccent); */
    color: var(--secondaryColor);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}

.startGame {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

button {
    padding: 10px 15px;
    background-color: var(--primaryAccent);
    color: var(--secondayAccent);
}

.result {
    font-size: 3vw;
    display: block;
    color: var(--buttonColor);
}

@media (max-width: 768px) {
    .gameBody {
        width: 90%; 
    }
    .startGame {
        gap: 1rem;
    }
    .result{
        font-size: 2rem;
    }
}
