:root {
    --background: #40e0cf;
    --fontColor: #000000;
    --buttonColor: #7fdcd2;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
    margin: 0;
    background-color: var(--background);
    color: var(--fontColor);
}

h1 {
    width: 100%; 
    text-align: center; 
    margin: 0; 
    padding: 20px 0; 
}

.gameBody {

    font-size: 4rem;
    width: 60%; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem; 
    margin-top: 20px;
    padding: 20px; 
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  */
}

.left, .right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
}

.startGame {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

button {
    padding: 10px 15px;
    background-color: var(--buttonColor);
    color: var();
}

.result {
    font-size: 3vw;
    display: block;
}

@media (max-width: 768px) {
    .gameBody {
        width: 90%; 
    }
    .startGame {
        gap: 1rem;
    }
    .result{
        font-size: 2rem;
    }
}
